<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go Mazes</title>
</head>
<body>
    <table>
        <tr>
            <th>E</th>
            <th>E</th>
            <th>E</th>
            <th>E</th>
            <th>E</th>
            <th>E</th>
            <th>E</th>
            <th>E</th>
            <th>E</th>
            <th>E</th>
        </tr>
        <tr>
            <th>E</th>
            <th>S</th>
            <th>S</th>
            <th>S</th>
            <th>S</th>
            <th>S</th>
            <th>S</th>
            <th>S</th>
            <th>S</th>
            <th>E</th>
        </tr>
        <tr>
            <th>E</th>
            <th>S</th>
            <th>S</th>
            <th>S</th>
            <th>S</th>
            <th>S</th>
            <th>S</th>
            <th>S</th>
            <th>S</th>
            <th>E</th>
        </tr>
        <tr>
            <th>E</th>
            <th>S</th>
            <th>S</th>
            <th>S</th>
            <th>S</th>
            <th>S</th>
            <th>S</th>
            <th>S</th>
            <th>S</th>
            <th>E</th>
        </tr>
        <tr>
            <th>E</th>
            <th>E</th>
            <th>E</th>
            <th>E</th>
            <th>E</th>
            <th>E</th>
            <th>E</th>
            <th>E</th>
            <th>E</th>
            <th>E</th>
        </tr>
    </table>
</body>
</html>
