<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go Mazes</title>
</head>
<body>
    <table>
        {{ range .nodes }}
        <tr>
            {{ range . }}
            <th style="border-top-style: {{if .up}} solid {{else}} none; border-bottom-style: {{if .down}} solid {{else}} none; border-right-style: {{if .right}} solid {{else}} none; border-left-style: {{if .left}} solid {{else}} none;" >{{.val}}</th>
            {{ end }}
        </tr>

        {{ end }}
    </table>
</body>
</html>
